.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: -10px;
}

.logo-img {
    height: 30px;
    width: 30px;
}

.logo-text {
    /* background-gradient: from(); */
    /* display: block; */
    /* font-size: 1.5em;    font-weight: bold;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; */
}

.nav {
    display: flex;
    gap: 10px;
}

.navlinks {
    text-decoration: none;
    
}